* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.ibm-plex-sans {
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

